:root {
  --vp-c-indigo-1: #0e578e;
  --vp-c-indigo-2: #1464a5;
  --vp-c-indigo-3: #2378b9;
  --vp-font-family-base: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --vp-font-family-mono: 'JetBrains Mono', 'Fira Code', 'Consolas', 'Monaco', 'Courier New', monospace;
}

